PORT=5000
MONGODB_URI=mongodb://localhost:27017/vibestream
JWT_SECRET=supersecretjwtkey_vibestream_2026
CLIENT_URL=http://localhost:5173

# Azure Blob Storage Config (Photos & Videos)
AZURE_STORAGE_CONNECTION_STRING=your_azure_storage_connection_string
AZURE_STORAGE_CONTAINER_NAME=media

# Azure SQL Database Config (Relational Data)
AZURE_SQL_SERVER=vibestream-sql-fc.database.windows.net
AZURE_SQL_DATABASE=vibestream-db
AZURE_SQL_USER=vibeadmin
AZURE_SQL_PASSWORD=your_azure_sql_password
